---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Us</Fragment>
      <Fragment slot="desc">We are here to help you provide quality data science education</Fragment>
    </Sectionhead>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Our Mission
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We started Array51 Labs to improve the quality and availability of data science education in Canada.
        This is becoming increasingly important as recent advancements in artificial intelligence are projected 
        to disrupt the future of work faster than expected before, and make data skills more necessary than ever.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        We believe that the best way to do this is to work with private career colleges (PCCs) and coding bootcamps
        to offer high quality and up-to-date education, so that more students can be prepared for the future.
      </p>
    </div>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Backed by Experience
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Our team brings together experience in data science education and regulatory compliance with educational authorities
        (e.g. Ontario Ministry of Colleges and Universities). Between our team members, we have started, managed, and grown multiple 
        educational organizations and training businesses.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        We know what it's like to provide quality education, and we are here to help
        you do the same.
      </p>
    </div>

  </Container>
</Layout>