---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">We're excited to work with you</Fragment>
    </Sectionhead>

    <div class="mx-auto max-w-xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Schedule Meeting</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Schedule an introductory phone meeting or send us a message using the form below
        </p>
        <div>
          <button class="items-center mt-3 space-x-2 w-full bg-white border border-blue-500 text-blue-500 py-2.5 lg:py-3 rounded-md hover:bg-blue-500 hover:text-white">
            <a href="https://calendly.com/moeyyadqureshi/discovery-session" target="_blank">
              Schedule Meeting
            </a>
          </button>
        </div>
      </div>
      <div>
        <h2 class="font-medium text-2xl text-gray-800 mt-8 mb-3">Send Us A Message</h2>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
