---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Programs">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Programs</Fragment>
      <Fragment slot="desc">Our flagship programs are designed for the latest technologies</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        Students are looking for innovation. Interest has recently skyrocketed in artificial intelligence and data science.
        Our programs let you meet these demands through providing comprehensive training with all the
        latest advancements in mind.
      </p>
    </div>

    <div id="data-analytics" class="flex flex-col gap-3 mx-auto max-w-4xl mt-8">
      <h1 class="font-bold text-4xl text-gray-800">
        Data Analytics
      </h1>
      <h2 class="text-lg leading-relaxed text-slate-500">
        10 Courses | 8 Months
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Insert Program Description Here
      </p>
      <h3>Semester 1</h3>
      <ul class="list-disc">
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
      </ul>
      <h3>Semester 2</h3>
      <ul class="list-disc">
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
      </ul>
    </div>

    <div id="data-science" class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h1 class="font-bold text-4xl text-gray-800">
        Data Science
      </h1>
      <h2 class="text-lg leading-relaxed text-slate-500">
        15 Courses | 12 Months
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Insert Program Description Here
      </p>
      <h3>Semester 1</h3>
      <ul class="list-disc">
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
      </ul>
      <h3>Semester 2</h3>
      <ul class="list-disc">
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
        <li><a href="/array51/courses/da100">DA100 Foundations of Business Analytics</a></li>
      </ul>
    </div>

  </Container>
</Layout>