---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Comprehensive Programs",
    description:
      "Our courses are bundled into comprehensive programs that cover 100% of necessary skills and knowledge",
    icon: "bx:bxs-shapes",
  },
  {
    title: "Ministry Approval",
    description:
      "Our experts will help you get new programs approved by the Ontario Ministry of Colleges and Universities",
    icon: "bx:bxs-landmark",
  },
  {
    title: "Ready for Online Learning",
    description:
      "We provide pre-recorded video lectures ready to upload to any LMS",
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Complete Course Packages",
    description:
      "Every course comes with a curriculum, syllabus, slides, teaching notes, assignments, quizzes, and exams",
    icon: "bx:bxs-category",
  },
  {
    title: "Consulting Available",
    description:
      "Get help with ministry compliance, hiring the right instructors, and marketing to new student segments",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "First Time?",
    description:
      "We love working with new education businesses and will help you grow from the ground up",
    icon: "bx:bxs-rocket",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to attract more students
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We make it easy to grow your education business by letting you provide highly in-demand skills training
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
