---
const { attribution } = Astro.props;
---
<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Â© {new Date().getFullYear()} Prosper Labs
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
    {
      attribution && (
        <span> | </span>
        <a href={attribution.href}>
          {attribution.linkText}
        </a>
      )
    }
  </p>
</footer>
