---
import { Picture } from "astro:assets";
import landingGraphic from "assets/learning.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 lg:order-1 hidden lg:block">
    <Picture
      src={landingGraphic}
      alt="Learning Graphic"
      width=480
      height=480
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Add data science to your programs
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-2xl lg:max-w-xl">
      We design data science courses for private career colleges and coding bootcamps.
      We cover everything from the basics to all the latest advancements in AI technology.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/prosper/programs"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-white w-5 h-5" name="bx:bxs-chevron-right" />
        Explore Programs
      </Link>
      <Link
        size="lg"
        style="outline"
        href="/prosper/contact"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bxs-envelope" />
        Contact Us
      </Link>
    </div>
  </div>
</main>
