---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const courseList = await getCollection("courses");

// Sort content entries by publication date
courseList.sort(function (a, b) {
  return a.data.sortOrder - b.data.sortOrder
});
---

<Layout title="Courses">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Courses</Fragment>
      <Fragment slot="desc">
        Everything from the basics to the latest developments in AI
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <p class="text-lg max-w-4xl mx-auto leading-relaxed text-slate-500 mb-8">
        Unless otherwise noted all courses are designed to be delivered by lectures over a period of 40 instructional hours. Every course can be delivered
        in person, online, or through blended learning.
      </p>
      <ul class="grid gap-4 max-w-4xl mx-auto">
        {
          courseList.map((course) => (
            <li>
              <a href={`/array51/courses/${course.slug}`}>
                <div class="grid gap-5 md:gap-10 items-center border border-gray-300 rounded p-4">
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {course.data.courseCode}
                    </span>

                    <h2 class="text-xl font-semibold leading-snug tracking-tight mt-1 ">
                      {course.data.title}
                    </h2>

                    <p class="text-md text-slate-800 my-4">
                      {course.data.description}
                    </p>

                    {course.data.prerequisites && (
                      <p class="italic text-sm text-slate-600">
                        Prereq: {course.data.prerequisites.join(", ")}
                      </p>
                    )}

                    {course.data.corequisites && (
                      <p class="italic text-sm text-slate-600">
                        Coreq: {course.data.corequisites.join(", ")}
                      </p>
                    )}
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
